<div class="card">
    <div class="card-body">
        <div class="card-title">
            <span>Sites</span>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-fixed">
                <thead>
                    <tr>
                        <th style="width: 120px;" class="text-start">Status</th>
                        <th style="width: 150px;" class="text-start">Name</th>
                        <th style="width: 160px;" class="text-start">Type of Site</th>
                        <th style="width: 120px;" class="text-start">Segment</th>
                        <th style="width: 250px;" class="text-start">Completion</th>
                        <th style="width: 250px;" class="text-start">Score</th>
                        <th style="width: 300px;" class="text-start">% Completion by Pillar</th>
                        <th style="width: 100px;"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="cursor-pointer" onclick="redirecionar(1);" data-search="">
                        <td>
                            <span class="btn btn-small btn-warning">
                                <small>In Progress</small>
                            </span>
                        </td>
                        <td>Alcantra</td>
                        <td></td>
                        <td></td>
                        <td>
                            <small>Region completion: 52%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 52%;"></div>
                            </div>
                        </td>

                        <td>
                            <small>Score completion: 52%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 52%;"></div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="SAFETY">SAF</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="QUALITY">QUA</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="PEOPLE">PEO</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="MANAGEMENT">MAN</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="RELIABILITY">REL</li>
                            </ul>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-light">
                                <i class="bi bi-folder fs-6"></i> View
                            </a>
                        </td>
                    </tr>

                    <tr class="cursor-pointer" onclick="redirecionar(1);" data-search="">
                        <td>
                            <span class="btn btn-small btn-warning">
                                <small>In Progress</small>
                            </span>
                        </td>
                        <td>Balsa Nova</td>
                        <td></td>
                        <td></td>
                        <td>
                            <small>Region completion: 75%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <small>Score completion: 75%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="SAFETY">SAF</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="QUALITY">QUA</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="PEOPLE">PEO</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="MANAGEMENT">MAN</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="RELIABILITY">REL</li>
                            </ul>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-light">
                                <i class="bi bi-folder fs-6"></i> View
                            </a>
                        </td>
                    </tr>

                    <tr class="cursor-pointer" onclick="redirecionar(1);" data-search="">
                        <td>
                            <span class="btn btn-small btn-success">
                                <small>Completed</small>
                            </span>
                        </td>
                        <td>Conchal</td>
                        <td></td>
                        <td></td>
                        <td>
                            <small>Region completion: 100%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 100%;"></div>
                            </div>
                        </td>

                        <td>
                            <small>Score completion: 100%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 100%;"></div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="SAFETY">SAF</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="QUALITY">QUA</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="PEOPLE">PEO</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="MANAGEMENT">MAN</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="RELIABILITY">REL</li>
                            </ul>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-light">
                                <i class="bi bi-folder fs-6"></i> View
                            </a>
                        </td>
                    </tr>

                    <tr class="cursor-pointer" onclick="redirecionar(1);" data-search="">
                        <td>
                            <span class="btn btn-small btn-light">
                                <small>Not Started</small>
                            </span>
                        </td>
                        <td>Mogi Guacu</td>
                        <td></td>
                        <td></td>
                        <td>
                            <small>Region completion: 0%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 0%;"></div>
                            </div>
                        </td>

                        <td>
                            <small>Score completion: 0%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 0%;"></div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="SAFETY">SAF</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="QUALITY">QUA</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="PEOPLE">PEO</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="MANAGEMENT">MAN</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="RELIABILITY">REL</li>
                            </ul>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-light">
                                <i class="bi bi-folder fs-6"></i> View
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script is:inline>
    function redirecionar(id){
        if (id == 1) {
            window.location.href = '/assessments/overview/management/';
        }
    }
</script>
