<div class="card">
    <div class="card-body">
        <div class="card-title">
            <span>Sites' Assessments - Brazil</span>
        </div>

        <div class="table-responsive">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="fw-bold text-nowrap" style="width: 200px;">Status:</td>
                        <td>
                            <span class="btn btn-small btn-warning">In Progress</span>
                        </td>
                        <td rowspan="5">
                            <div class="d-flex justify-content-end">
                                <img alt="image" src="/assets/images/flags/brazil.svg" width="64px">
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="fw-bold text-nowrap">Country Administrator:</td>
                        <td>3</td>
                    </tr>

                    <tr>
                        <td class="fw-bold text-nowrap">Quantity of Sites:</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="fw-bold text-nowrap">Country:</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="fw-bold text-nowrap">Completed:</td>
                        <td>
                            <div class="d-flex flex-column" style="width: 500px;">
                                <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 75%;"></div>
                                </div>
                                <small>Evaluations completed in 33%. Missing 2 sites to finish.</small>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>