---
import Layout from '@layouts/Layout.astro';
---

<Layout>
    <div class="title-breadcrumb">
        <span class="title">Site</span>
        <div class="breadcrumb text-secondary">
            Assessments / <span class="active">Site</span>
        </div>
    </div>

</Layout>
