---
import Layout from '@layouts/Layout.astro';
import ContentSelect  from './_content-select.astro';
import ContentAssessments from './_content-assessments.astro';
import ContentSites from './_content-sites.astro';
---

<Layout>
    <div class="title-breadcrumb">
        <span class="title">Site</span>
        <div class="breadcrumb text-secondary">
            Assessments / <span class="active">Site</span>
        </div>
    </div>

    <ContentSelect />
    <ContentAssessments />
    <ContentSites />
</Layout>
