---
---

<style>
.footerApp {
        background-color: #fff;
        padding: 0.5rem 0;
        text-align: center;
        font-size: 0.8rem;
    }
</style>

<footer class="footerApp">
    <div class="container-fluid">
        © 2025 Ingredion Portal. All Rights Reserved.
    </div>
</footer>
