---
---

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <!-- noindex -->
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/animista.css">
    <link rel="stylesheet" href="/assets/vendor/dataTables/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/assets/vendor/dataTables/dataTables.bootstrap5-custom.css?v=1.0">
    <link rel="stylesheet" href="/assets/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendor/fancybox/fancybox.css">

    <!-- App CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css?v=1.0">

    <!-- Libs Js -->
    <script is:inline src="/assets/libs/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Js -->
    <script is:inline type="module" src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
    <script is:inline type="module" src="/assets/bootstrap/bootstrap-color-mode.js?v=1.0"></script>
    <script is:inline type="module" src="/assets/bootstrap/bootstrap.custom.js?v=1.0"></script>

    <!-- Vendor JS -->
    <script is:inline type="module" src="/assets/vendor/dataTables/jquery.dataTables.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/dataTables/dataTables.bootstrap5.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/dataTables/alt-string.js"></script>
    <script is:inline type="module" src="/assets/vendor/domPurify/purify.min.js"></script>
    <script is:inline src="/assets/vendor/domPurify/purify-custom.js"></script>
    <script is:inline src="/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script is:inline src="/assets/vendor/fancybox/fancybox.umd.js"></script>
    <script is:inline src="/assets/vendor/amcharts4/core.js"></script>
    <script is:inline src="/assets/vendor/amcharts4/charts.js"></script>
    <script is:inline src="/assets/vendor/amcharts4/animated.js"></script>
    <script is:inline src="/assets/vendor/amcharts4/locales/pt_BR.js"></script>
    <script is:inline src="https://cdn.amcharts.com/lib/4/maps.js"></script>
    <script is:inline src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>

    <!-- App JS -->
    <script is:inline defer type="module" src="/assets/js/main.js?v=1.0"></script>

    <title>Ingredion | IPS</title>
</head>
