<div class="card">
    <div class="card-body">
        <div class="card-title">
            <span>Search</span>
        </div>

        <div class="table-responsive">
            <table class="table table-hover tab-zone table-fixed">
                <thead>
                    <tr>
                        <th style="width: 120px;" class="text-start">Status</th>
                        <th style="width: 150px;" class="text-start">Region</th>
                        <th style="width: 160px;" class="text-start">Completion</th>
                        <th style="width: 160px;" class="text-start">Score</th>
                        <th style="width: 300px;" class="text-start">% Completion by Pillar</th>
                        <th style="width: 250px;" class="text-start">Countries</th>
                        <th style="width: 100px;"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="cursor-pointer" onclick="redirecionar(1);" data-search="">
                        <td>
                            <span class="btn btn-small btn-warning">
                                <small>In Progress</small>
                            </span>
                        </td>
                        <td>
                            <h5 class="mb-0">LATAM</h5>
                            <small>Total Countries: 4</small>
                        </td>
                        <td>
                            <small>Region completion: 97%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <small>Score completion: 97%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="SAFETY">SAF</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="QUALITY">QUA</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="PEOPLE">PEO</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="MANAGEMENT">MAN</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="RELIABILITY">REL</li>
                            </ul>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li data-bs-toggle="tooltip" data-bs-title="Brazil">
                                    <img alt="image" src="/assets/images/flags/brazil.svg" width="30px">
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-title="Colombia">
                                    <img alt="image" src="/assets/images/flags/colombia.svg" width="30px">
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-title="Mexico">
                                    <img alt="image" src="/assets/images/flags/mexico.svg" width="30px">
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-title="Peru">
                                    <img alt="image" src="/assets/images/flags/peru.svg" width="30px">
                                </li>
                            </ul>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-light">
                                <i class="bi bi-folder fs-6"></i> View
                            </a>
                        </td>
                    </tr>

                    <tr class="cursor-pointer" onclick="redirecionar(1);" data-search="">
                        <td>
                            <span class="btn btn-small btn-warning">
                                <small>In Progress</small>
                            </span>
                        </td>
                        <td>
                            <h5 class="mb-0">NA</h5>
                            <small>Total Countries: 2</small>
                        </td>
                        <td>
                            <small>Region completion: 97%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <small>Score completion: 97%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="SAFETY">SAF</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="QUALITY">QUA</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="PEOPLE">PEO</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="MANAGEMENT">MAN</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="RELIABILITY">REL</li>
                            </ul>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li data-bs-toggle="tooltip" data-bs-title="Canada">
                                    <img alt="image" src="/assets/images/flags/canada.svg" width="30px">
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-title="United States">
                                    <img alt="image" src="/assets/images/flags/united-states-of-america.svg" width="30px">
                                </li>
                            </ul>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-light">
                                <i class="bi bi-folder fs-6"></i> View
                            </a>
                        </td>
                    </tr>

                    <tr class="cursor-pointer" onclick="redirecionar(1);" data-search="">
                        <td>
                            <span class="btn btn-small btn-warning">
                                <small>In Progress</small>
                            </span>
                        </td>
                        <td>
                            <h5 class="mb-0">EMEA</h5>
                            <small>Total Countries: 2</small>
                        </td>
                        <td>
                            <small>Region completion: 97%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <small>Score completion: 97%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="SAFETY">SAF</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="QUALITY">QUA</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="PEOPLE">PEO</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="MANAGEMENT">MAN</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="RELIABILITY">REL</li>
                            </ul>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li data-bs-toggle="tooltip" data-bs-title="Germany">
                                    <img alt="image" src="/assets/images/flags/germany.svg" width="30px">
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-title="Pakistan">
                                    <img alt="image" src="/assets/images/flags/pakistan.svg" width="30px">
                                </li>
                            </ul>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-light">
                                <i class="bi bi-folder fs-6"></i> View
                            </a>
                        </td>
                    </tr>

                    <tr class="cursor-pointer" onclick="redirecionar(1);" data-search="">
                        <td>
                            <span class="btn btn-small btn-warning">
                                <small>In Progress</small>
                            </span>
                        </td>
                        <td>
                            <h5 class="mb-0">APAC</h5>
                            <small>Total Countries: 4</small>
                        </td>
                        <td>
                            <small>Region completion: 97%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <small>Score completion: 97%</small>
                            <div class="progress" role="progressbar" aria-label="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                <div class="progress-bar bg-success" style="width: 75%;"></div>
                            </div>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="SAFETY">SAF</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-success" data-bs-toggle="tooltip" data-bs-title="QUALITY">QUA</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="PEOPLE">PEO</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="MANAGEMENT">MAN</li>
                                <li class="badge rounded-pill fw-normal lh-sm text-bg-warning" data-bs-toggle="tooltip" data-bs-title="RELIABILITY">REL</li>
                            </ul>
                        </td>

                        <td>
                            <ul class="list-unstyled mb-0 d-flex align-items-center gap-1">
                                <li data-bs-toggle="tooltip" data-bs-title="China">
                                    <img alt="image" src="/assets/images/flags/china.svg" width="30px">
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-title="India">
                                    <img alt="image" src="/assets/images/flags/india.svg" width="30px">
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-title="Malaysia">
                                    <img alt="image" src="/assets/images/flags/malaysia.svg" width="30px">
                                </li>

                                <li data-bs-toggle="tooltip" data-bs-title="Thailand">
                                    <img alt="image" src="/assets/images/flags/thailand.svg" width="30px">
                                </li>
                            </ul>
                        </td>

                        <td class="text-right">
                            <a class="btn btn-light">
                                <i class="bi bi-folder fs-6"></i> View
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script is:inline>
    function redirecionar(id){
        if (id == 1) {
            window.location.href = '/assessments/country/';
        }
    }
</script>
