---
import Layout from '@layouts/Layout.astro';
import Select  from './_content-select.astro';
import Table  from './_content-table.astro';

---

<Layout>
    <div class="title-breadcrumb">
        <span class="title">Region</span>
        <div class="breadcrumb text-secondary">
            Assessments / <span class="active">Region</span>
        </div>
    </div>

    <Select />
    <Table />
</Layout>
