---
import ContentBoxWelcome from './_content-box-welcome.astro';
import ContentBoxTotalUsers from './_content-box-total-users.astro';
import ContentChartAssessments from './_content-chart-assessments.astro';
import ContentChartCompletion from './_content-chart-completion.astro';
import ContentChartScore from './_content-chart-score.astro';
import ContentChartPillar from './_content-chart-pillar.astro';
import ContentChartScoreCountries  from './_content-chart-score-countries.astro';
---

<script is:inline>
    const amchartsTextFill = "#999"
</script>

<ContentBoxWelcome />
<ContentChartAssessments />

<section class="row">
    <div class="col-xxl-4 col-xl-12 col-lg-12">
        <ContentChartCompletion />
    </div>

    <div class="col-xxl-4 col-xl-6 col-lg-6">
        <ContentChartScore />
    </div>

    <div class="col-xxl-4 col-xl-6 col-lg-6">
        <ContentChartPillar />
    </div>
</section>

<section class="row">
    <div class="col-12">
        <ContentChartScoreCountries />
    </div>
</section>
