<article class="card flex-fill">
    <div class="card-body py-4">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                <h5 class="mb-3">Total users</h5>
                <p class="mb-2 fs-3">2.364</p>
                <div class="mb-0">
                    <span class="badge text-green-ingredion me-2">+3.65%</span>
                    <span class="text-muted">Since last week</span>
                </div>
            </div>

            <div class="d-inline-block ms-3">
                <i class="bi bi-person-check fs-1 lh-1 text-success"></i>
            </div>
        </div>
    </div>
</article>
