<div class="card">
    <div class="card-body">
        <div class="card-title">Assessments by Countries</div>

        <div class="overflow-auto-charts">
            <div class="box-charts" id="chartdiv-assessments" style="height: 250px;"></div>
        </div>
    </div>
</div>

