<article class="card illustration flex-fill">
    <div class="card-body p-0 d-flex flex-fill">
        <div class="row g-0 w-100">
            <div class="col-7">
                <div class="illustration-text p-2 m-1">
                    <h5 class="illustration-text">Welcome back, <span>Jana</span>!</h5>
                    <p class="mb-0 small">App Ingredion IPS</p>
                </div>
            </div>

            <div class="col-5 p-2 align-self-end text-end">
                <img src="/assets/images/dashboard/welcome1.svg" alt="welcome" class="img-fluid illustration-img">
            </div>
        </div>
    </div>
</article>
