---
import Layout from '@layouts/Layout.astro';
import ContentBoxs from './_content-boxs.astro';
import ContentCharts from './_content-charts.astro';
---

<Layout>
    <div class="title-breadcrumb">
        <span class="title">Dashboard</span>
    </div>

    <ContentBoxs />
    <ContentCharts />
</Layout>
