---
import Layout from "@layouts/Layout.astro";
import ContentSelectMonth from "./_content-select-month.astro";
import ContentMain from "./_content-main.astro";
---

<script is:inline src="/assets/vendor/amcharts4/core.js"></script>
<script is:inline src="/assets/vendor/amcharts4/charts.js"></script>
<script is:inline src="/assets/vendor/amcharts4/animated.js"></script>
<script is:inline src="/assets/vendor/amcharts4/locales/pt_BR.js"></script>
<script is:inline src="https://cdn.amcharts.com/lib/4/maps.js"></script>
<script is:inline src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>

<Layout>
    <div class="animate__animated animate__bounceInLeft">
        <div class="title-breadcrumb">
            <div class="d-flex justify-content-between gap-2">
                <span class="title">Dashboard</span>


                <ContentSelectMonth />
            </div>
        </div>

        <ContentMain />
    </div>
</Layout>

<style is:inline>
    .badge {
        background: #f1e9e9;
    }
    .illustration {
        background-color: var(--color-green-ingredion-200);
        color: var(--color-green-ingredion);
    }
    .illustration-text {
        color: var(--color-green-ingredion);
    }
    .illustration-img {
        max-width: 120px;
        width: 100%;
    }
</style>
