<style>
    .table.table-pillar{
        font-size: 0.75rem;
    }
    .table.table-pillar>thead>tr>th,
    .table.table-pillar>tfoot>tr>th {
        font-size: 0.75rem;
    }
</style>

<div class="card">
    <div class="card-body">

        <section class="table-responsive">
            <table class="table table-bordered table-hover text-center table-fixed table-pillar">
                <thead>
                    <tr>
                        <th style="width: 200px;">BOOK</th>
                        <th style="width: 200px;">QUESTION</th>
                        <th style="width: 600px;">RATINGS AND THRESHOLDS</th>
                        <th style="width: 100px;">SAFETY</th>
                        <th style="width: 100px;">ENVIRONMENT &amp; SUSTAINABILITY</th>
                        <th style="width: 100px;">QUALITY</th>
                        <th style="width: 100px;">HUMAN RESOURCES</th>
                        <th style="width: 100px;">WET MILL / GRIND</th>
                        <th style="width: 100px;">FOS</th>
                        <th style="width: 100px;">OIL REFINERY</th>
                        <th style="width: 100px;">STARCH</th>
                        <th style="width: 100px;">DEXTROSE</th>
                        <th style="width: 100px;">REFINERY / SWEETENER REFINERY</th>
                        <th style="width: 100px;">PACKAGING</th>
                        <th style="width: 100px;">UTILITIES</th>
                        <th style="width: 100px;">PROJECT ENGINEERING</th>
                        <th style="width: 100px;">MAINTENANCE &amp; RELIABILITY</th>
                        <th style="width: 100px;">CONTRACTORS</th>
                        <th style="width: 100px;">PLANT MANAGEMENT</th>
                        <th style="width: 100px;">LOGISTICS</th>
                        <th style="width: 100px;">PLANT</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td colspan="3" class="text-start">Strategy and Business Cycle</td>
                        <td>19%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>NA</td>
                        <td>76%</td>
                        <td>NA</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>NA</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>12,7%</td>
                    </tr>

                    <tr>
                        <td>Strategic planning and definition of goals</td>
                        <td>Were the goals clearly rationale defined?</td>
                        <td class="text-start">
                            0 - Goals were not defined;<br />1 - The goals were defined,
                            but not using the definitions rationale in the IPS Managment
                            Book.<br />2 - The goals were defined in accordance with the
                            rationale and definitions in the IPS Management book, but
                            long-term planning (3-5 years) was not done for all dimensions
                            (felivery, safety, people, quality and cost);<br />3 - The goals
                            were defined in accordance with the rationale and definitions in
                            the IPS Management book, long-term planning (3-5 years) was done
                            for all dimensions (delivery, safety, people, quality, and
                            cost), but there is no results tracking and deviation treatments
                            on the routine;<br />4 - The goals were defined in accordance
                            with the rationale and definitions in the IPS Management book,
                            long-term planning (3-5 years) was done for all dimensions
                            (delivery, safety, people, quality, and cost) and there is
                            results tracking and deviation treatments on the routine.
                        </td>

                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
