---
import ContentModal from "./_content-modal.astro";
import Row1 from "./_row1.astro"
import Row2 from "./_row2.astro"
---

<div class="card">
    <div class="card-body">
        <section class="wrapper-btns">
            <div>
                <button
                    type="button"
                    id="toggle-all"
                    class="btn btn-small btn-secondary mb-1"
                >
                    <div class="d-flex align-items-center gap-1">
                        <i class="bi bi-layers"></i>
                        <small>Open/Close All</small>
                    </div>
                </button>
            </div>

            <div class="btns-middle">
                <a class="btn btn-small btn-success mb-1" href="#">Import Evaluation from Excel</a>
                <a class="btn btn-small btn-secondary mb-1" href="#">Evaluation Copy Previous Month</a>
            </div>

            <div class="btns-end">
                <a class="btn btn-small btn-success mb-1" href="#">Export Pillar to Excel</a>
                <button type="submit" class="btn btn-small btn-primary mb-1">Save</button>
            </div>
        </section>

        <section class="table-responsive mb-3" style="max-height: 500px;">
            <table class="table table-bordered table-hover table-fixed text-center table-pillar" id="tableHeadColFixer">
                <thead>
                    <tr>
                        <th style="width: 200px;">Book</th>
                        <th style="width: 200px;">Question</th>
                        <th style="width: 100px;">Options</th>
                        <th style="width: 100px;">Safety</th>
                        <th style="width: 100px;" >Environment &amp; Sustainability</th>
                        <th style="width: 100px;">Quality</th>
                        <th style="width: 100px;">Human Resources</th>
                        <th style="width: 100px;">Wet Mill / Grind</th>
                        <th style="width: 100px;">FOS</th>
                        <th style="width: 100px;">Oil Refinery</th>
                        <th style="width: 100px;">Starch</th>
                        <th style="width: 100px;">Dextrose</th>
                        <th style="width: 100px;">Refinery / Sweetener Refinery</th>
                        <th style="width: 100px;">Packaging</th>
                        <th style="width: 100px;">Utilities</th>
                        <th style="width: 100px;">Project Engineering</th>
                        <th style="width: 100px;">Maintenance &amp; Reliability</th>
                        <th style="width: 100px;">Contractors</th>
                        <th style="width: 100px;">Plant Management</th>
                        <th style="width: 100px;">Logistics</th>
                        <th style="width: 100px;">Plant</th>
                    </tr>
                </thead>

                <tbody>
                    <Row1 />
                    <Row2 />
                </tbody>
            </table>
        </section>
    </div>
</div>

<ContentModal />
