---
import ContentModal from "./_content-modal.astro";
---

<style>
    .table.table-pillar {
        font-size: 0.75rem;
    }
    .table.table-pillar > thead > tr > th,
    .table.table-pillar > tfoot > tr > th {
        font-size: 0.75rem;
    }
    .title-accordion {
        display: flex;
        gap: 0.5rem;
        padding: 0.25rem 0;
        cursor: pointer;
        font-size: 0.85rem;
    }
    .title-accordion .icon {
        transform: rotate(-180deg);
        transition: transform 0.2s ease-in-out;
    }
    .title-accordion.show .icon {
        transform: rotate(0deg);
    }

    .select-pillar{
        text-align: center;
        padding-right: 0.8rem;
    }
</style>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between gap-2">
            <button
                type="button"
                id="toggle-all"
                class="btn btn-small btn-secondary mb-1 d-flex align-items-center gap-1"
            >
                <i class="bi bi-layers lh-1"></i>
                <small>Open/Close All</small>
            </button>

            <button type="submit" class="btn btn-small btn-primary py-0 mb-1">Save</button>
        </div>

        <section class="table-responsive">
            <table
                class="table table-bordered table-hover text-center table-fixed table-pillar"
            >
                <thead>
                    <tr>
                        <th style="width: 200px;">Book</th>
                        <th style="width: 200px;">Question</th>
                        <th style="width: 100px;">Options</th>
                        <th style="width: 100px;">Safety</th>
                        <th style="width: 100px;"
                            >Environment &amp; Sustainability</th
                        >
                        <th style="width: 100px;">Quality</th>
                        <th style="width: 100px;">Human Resources</th>
                        <th style="width: 100px;">Wet Mill / Grind</th>
                        <th style="width: 100px;">FOS</th>
                        <th style="width: 100px;">Oil Refinery</th>
                        <th style="width: 100px;">Starch</th>
                        <th style="width: 100px;">Dextrose</th>
                        <th style="width: 100px;"
                            >Refinery / Sweetener Refinery</th
                        >
                        <th style="width: 100px;">Packaging</th>
                        <th style="width: 100px;">Utilities</th>
                        <th style="width: 100px;">Project Engineering</th>
                        <th style="width: 100px;"
                            >Maintenance &amp; Reliability</th
                        >
                        <th style="width: 100px;">Contractors</th>
                        <th style="width: 100px;">Plant Management</th>
                        <th style="width: 100px;">Logistics</th>
                        <th style="width: 100px;">Plant</th>
                    </tr>
                </thead>

                <tbody>
                    <tr data-tr="parent">
                        <td colspan="3" class="text-start">
                            <div class="title-accordion" data-title="accordion">
                                <i class="bi bi-chevron-down icon"></i>
                                <span>Strategy and Business Cycle</span>
                            </div>
                        </td>
                        <td>19%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>NA</td>
                        <td>76%</td>
                        <td>NA</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>NA</td>
                        <td>0%</td>
                        <td>0%</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>12,7%</td>
                    </tr>

                    <tr data-tr="child">
                        <td>Strategic planning and definition of goals</td>
                        <td>Were the goals clearly rationale defined?</td>
                        <td>
                            <div class="d-flex justify-content-center gap-2">
                                <a
                                    role="button"
                                    class="fs-5 text-secondary"
                                    data-bs-target="#modalRating"
                                    data-bs-toggle="modal"
                                >
                                    <span data-bs-toggle="tooltip" data-bs-title="Rating">
                                        <i class="bi bi-file-earmark-text"></i>
                                    </span>
                                </a>

                                <a
                                    class="fs-5 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Attachments"
                                    data-type="iframe"
                                    data-fancybox
                                    data-width="1200"
                                    data-height="700"
                                    href="../popups/attachments/"
                                >
                                    <i class="bi bi-paperclip"></i>
                                </a>
                            </div>
                        </td>

                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="" class="form-select select-pillar">
                                <option value=""></option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="na">NA</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <span></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>

<ContentModal />

<script is:inline>
    function trAccordion() {
        $('[data-tr="parent"]').on("click", function () {
            $(this).next('[data-tr="child"]').toggle("fast");
            $(this).find('[data-title="accordion"]').toggleClass("show");
        });
    }
    trAccordion();

    $("#toggle-all").on("click", function () {
        const childRowsAll = $('[data-tr="child"]');
        const isVisible = childRowsAll.is(":visible");

        if (isVisible) {
            childRowsAll.hide("fast");
        } else {
            childRowsAll.show("fast");
        }
        $('[data-title="accordion"]').toggleClass("show", !isVisible);
    });
</script>
