<tr data-tr="parent">
    <td colspan="3" class="text-start">
        <div class="title-accordion" data-title="accordion">
            <i class="bi bi-chevron-down icon"></i>
            <span>Strategy and Business Cycle</span>
        </div>
    </td>
    <td>19%</td>
    <td>0%</td>
    <td>0%</td>
    <td>0%</td>
    <td>0%</td>
    <td>NA</td>
    <td>76%</td>
    <td>NA</td>
    <td>0%</td>
    <td>0%</td>
    <td>NA</td>
    <td>0%</td>
    <td>0%</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>NA</td>
    <td>12,7%</td>
</tr>

<tr data-tr="child">
    <td>Strategic planning and definition of goals</td>
    <td>Were the goals clearly rationale defined?</td>
    <td>
        <div class="d-flex justify-content-center gap-2">
            <a
                role="button"
                class="fs-5 text-secondary"
                data-bs-target="#modalRating"
                data-bs-toggle="modal"
            >
                <span data-bs-toggle="tooltip" data-bs-title="Rating">
                    <i class="bi bi-file-earmark-text"></i>
                </span>
            </a>

            <a
                class="fs-5 text-secondary"
                data-bs-toggle="tooltip"
                data-bs-title="Attachments"
                data-type="iframe"
                data-fancybox
                data-width="1200"
                data-height="700"
                href="../popups/attachments/"
            >
                <i class="bi bi-paperclip"></i>
            </a>
        </div>
    </td>

    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td class="text-center">
        <span></span>
    </td>
</tr>
