<tr data-tr="parent">
    <td colspan="3" class="text-start">
        <div class="title-accordion" data-title="accordion">
            <i class="bi bi-chevron-down icon"></i>
            <span>Goal Setting and Cascading</span>
        </div>
    </td>

    <td data-target="2.1">0%</td>
    <td data-target="2.2">0%</td>
    <td data-target="2.3">0%</td>
    <td data-target="2.4">0%</td>
    <td data-target="2.5">50%</td>
    <td data-target="2.6">NA</td>
    <td data-target="2.7">74%</td>
    <td data-target="2.8">NA</td>
    <td data-target="2.9">100%</td>
    <td data-target="2.10">0%</td>
    <td data-target="2.11">NA</td>
    <td data-target="2.12">0%</td>
    <td data-target="2.13">0%</td>
    <td data-target="2.14">NA</td>
    <td data-target="2.15">NA</td>
    <td data-target="2.16">NA</td>
    <td data-target="2.17">90%</td>

    <td>
        <strong>12,7%</strong>
    </td>
</tr>

<tr data-tr="child">
    <td>Cascading of goals</td>
    <td>Were the goals cascaded down to the Tier 2 level?</td>
    <td>
        <div class="d-flex justify-content-center gap-2">
            <a
                role="button"
                class="fs-5 text-secondary"
                data-bs-target="#modalRating"
                data-bs-toggle="modal"
            >
                <span data-bs-toggle="tooltip" data-bs-title="Rating">
                    <i class="bi bi-file-earmark-text"></i>
                </span>
            </a>

            <a
                class="fs-5 text-secondary"
                data-bs-toggle="tooltip"
                data-bs-title="Attachments"
                data-type="iframe"
                data-fancybox
                data-width="1200"
                data-height="700"
                href="../popups/attachments/"
            >
                <i class="bi bi-paperclip"></i>
            </a>
        </div>
    </td>

    <td>
        <select name="" class="form-select select-pillar" data-select="2.1">
            <option value=""></option>
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.2">
            <option value=""></option>
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.3">
            <option value=""></option>
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.4">
            <option value=""></option>
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.5">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.6">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na" selected>NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.7">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.8">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na" selected>NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.9">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.10">
            <option value=""></option>
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.11">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na" selected>NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.12">
            <option value=""></option>
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.13">
            <option value=""></option>
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.14">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na" selected>NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.15">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na" selected>NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.16">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na" selected>NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar" data-select="2.17">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="na">NA</option>
        </select>
    </td>

    <td class="text-center">
        <span></span>
    </td>
</tr>

<tr data-tr="child">
    <td>Management Metrics</td>
    <td>Is there monitoring of management metrics in the routine? (Dashboard of management metrics + OEE)</td>
    <td>
        <div class="d-flex justify-content-center gap-2">
            <a
                role="button"
                class="fs-5 text-secondary"
                data-bs-target="#modalRating"
                data-bs-toggle="modal"
            >
                <span data-bs-toggle="tooltip" data-bs-title="Rating">
                    <i class="bi bi-file-earmark-text"></i>
                </span>
            </a>

            <a
                class="fs-5 text-secondary"
                data-bs-toggle="tooltip"
                data-bs-title="Attachments"
                data-type="iframe"
                data-fancybox
                data-width="1200"
                data-height="700"
                href="../popups/attachments/"
            >
                <i class="bi bi-paperclip"></i>
            </a>
        </div>
    </td>

    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td>
        <select name="" class="form-select select-pillar">
            <option value=""></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="na">NA</option>
        </select>
    </td>
    <td class="text-center">
        <span></span>
    </td>
</tr>
