<style>
    @media (min-width: 576px) {
        .modal-rating {
            --bs-modal-width: 1200px;
            z-index: 1111;
        }
    }
</style>

<div
    class="modal modal-rating fade"
    id="modalRating1"
    aria-hidden="true"
    aria-labelledby="modalRating1Label"
    tabindex="-1"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h1 class="modal-title fs-5" id="modalRating1Label">
                    Rating (Strategy and Business Cycle)
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                0 - Goals were not defined;<br>
                1 - The goals were defined, but not using the definitions rationale in the IPS Managment Book.<br>
                2 - The goals were defined in accordance with the rationale and definitions in the IPS Management book, but long-term planning (3-5 years) was not done for all dimensions (felivery, safety, people, quality and cost);<br>
                3 - The goals were defined in accordance with the rationale and definitions in the IPS Management book, long-term planning (3-5 years) was done for all dimensions (delivery, safety, people, quality, and cost), but there is no results tracking and deviation treatments on the routine;<br>
                4 - The goals were defined in accordance with the rationale and definitions in the IPS Management book, long-term planning (3-5 years) was done for all dimensions (delivery, safety, people, quality, and cost) and there is results tracking and deviation treatments on the routine.
            </div>
        </div>
    </div>
</div>
