<style>
    @media (min-width: 576px) {
        .modal-rating {
            --bs-modal-width: 1200px;
            z-index: 1111;
        }
    }
</style>

<div
    class="modal modal-rating fade"
    id="modalRating2"
    aria-hidden="true"
    aria-labelledby="modalRating2Label"
    tabindex="-1"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h1 class="modal-title fs-5" id="modalRating2Label">
                    Rating (Goal Setting and Cascading)
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>

            <div class="modal-body">
                0 - The goals were cascaded according to the Goal Book only through Tier 4 (Plant Manager);<br>
                1 - The goals were cascaded according to the Goal Book only through Tier 3 (Unit Manager);<br>
                2 - The goals were cascaded according to the Goal Book through Tier 2 (department manager, supervisors, process leads), but there is no work plan and/or there is no monthy tracking;<br>
                3 - The goals were defined according to the rationale provided in the IPS Management Book, they were cascaded according to the Goals Book through Tier 2, there is a work plan and are monthy tracked, but the achievement of personal goals is below 80%  but the trend for the last three consecutive months is positive.<br>
                4 - The goals were defined according to the rationale provided in the IPS Management Book, they were cascaded according to the Goals Book through Tier 2, there is a work plan and monthly tracking and the achievement of personal goals is above 80% for the last 3 months;
            </div>
        </div>
    </div>
</div>
