---
import Head from '@includes/Head.astro';
import ContentForm from './_content_form.astro';
import ContentListing from './_content-listing.astro';
---

<!doctype html>
<html lang="pt-br">
	<Head />

	<body class="body-popup">
        <ContentForm />
        <ContentListing />
	</body>
</html>
