<li class="nav-item dropdown">
    <button
        class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-animation gap-1 px-1"
        aria-label="setup"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    >
        <img class="avatar me-1" src="/assets/images/avatar.png">

        <div class="d-flex flex-column align-items-start data-user">
            <small class="lh-1" id="user-name">Jana</small>
            <small class="lh-1" id="user-email">jana@ingredion.com</small>
            <small class="lh-1" id="user-cargo">Admin</small>
        </div>
    </button>

    <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end overflow-hidden border-0 py-0 shadow">
        <li class="py-2 px-3 border-bottom data-user-mobile">
            <div class="d-flex flex-column">
                <small class="lh-1" id="user-name">Jana</small>
                <small class="lh-1" id="user-email">jana@ingredion.com</small>
                <small class="lh-1" id="user-cargo">Admin</small>
            </div>
        </li>

        <li>
            <a class="dropdown-item" aria-label="perfil" href="/">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person-gear fs-5"></i>
                    <span class="ms-2 small">Profile</span>
                </div>
            </a>
        </li>
        <li>
            <a class="dropdown-item" aria-label="perfil" href="/">
                <div class="d-flex align-items-center">
                    <i class="bi bi-gear fs-5"></i>
                    <span class="ms-2 small">Setings</span>
                </div>
            </a>
        </li>

        <li>
            <a class="dropdown-item" aria-label="login" href="/">
                <div class="d-flex align-items-center">
                    <i class="bi bi-box-arrow-right fs-5"></i>
                    <span class="ms-2 small">Sing Out</span>
                </div>
            </a>
        </li>
    </ul>
</li>
