---
import Layout from '@layouts/Layout.astro';
import ContentListagem from './_content-listagem.astro';
---

<Layout>
    <div class="title-breadcrumb">
        <span class="title">Setup</span>
        <div class="breadcrumb text-secondary">
            Setup / <span class="active">Administração</span>
        </div>
    </div>

    <ContentListagem />
</Layout>
