<div class="card">
    <div class="card-body">
        <div class="card-title">
            <span>Filter</span>
        </div>

        <form action="">
            <div class="row">
                <label class="col-xxl-2 col-xl-4 col-lg-6 col-md-4 col-sm-6">
                    <span>Zone:</span>
                    <select id="" name="" class="form-select">
                        <option value="1" selected="selected">AFRICA</option>
                        <option value="2">APAC</option>
                        <option value="3">EUR</option>
                        <option value="4">MA</option>
                        <option value="5">NA</option>
                        <option value="6">SA</option>
                    </select>
                </label>

                <label class="col-xxl-2 col-xl-4 col-lg-6 col-md-4 col-sm-6">
                    <span>Country:</span>
                    <select id="" name="" class="form-select">
                        <option value="5" selected="selected">Botswana</option>
                        <option value="17">Ghana</option>
                        <option value="22">Lesotho</option>
                        <option value="24">Mozambique</option>
                        <option value="25">Namibia</option>
                        <option value="27">Nigeria</option>
                        <option value="32">South Africa</option>
                        <option value="34">eSwatini</option>
                        <option value="35">Tanzania</option>
                        <option value="36">Uganda</option>
                        <option value="41">Zambia</option>
                    </select>
                </label>

                <label class="col-xxl-2 col-xl-4 col-lg-2 col-md-4 col-sm-6">
                    <span>Group:</span>
                    <select id="" name="" class="form-select">
                        <option value="0">All</option>
                        <option value="1" selected="selected">BOP</option>
                        <option value="2">VOP</option>
                        <option value="3">SOP</option>
                    </select>
                </label>

                <label class="col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <span>Facilities:</span>
                    <select id="" name="" class="form-select">
                        <option value="10" selected="selected">Kgalagadi Beer</option>
                    </select>
                </label>

                <label class="col-xxl-2 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <span>Month:</span>
                    <select id="" name="" class="form-select">
                        <option value="1" selected="selected">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </label>

                <div class="col-xxl-1 col-xl-4 col-lg-2 col-md-4 col-sm-6">
                    <div class="label-clearfix last-md"></div>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="submit" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
